.table tbody tr td .action {
  display: none;
}

.table tbody tr:hover > td .action {
  display: inline;
}

@media screen and (max-width: 768px) {
  .table tbody tr td .action {
    display: inline;
  }
  
  .table tbody tr:hover > td .action {
    display: inline;
  }
}
