/* spacing */

.margin-top-30 {
  margin-top: 30px !important;
}

/* Styling */
.toast {
  border-radius: 10px;
}

small.error {
  color: #9F3A38 !important;
}

.uc-first {
  text-transform:capitalize !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

/* alignment */
.float-right {
  float:right
}


